<launch>
<!-- REMEMBER TO KEEP IT CONSISTENT WITH fiducial_slam/cfg/map.txt  -->
<!-- #TODO automate above -->

<!-- CURRENTLY tag_id == 1 doesn't  work as it spawns tag with id 3, will fix it  -->
<!-- all other tags from range 2,15 inclusive can be added -->

<include file="$(find ar_tags_spawner)/launch/spawn_artag.launch">
      <arg name="tag_id" default="2"/>
      <arg name="object_x" default="5.0"/>
      <arg name="object_y" default="3.0"/>
      <arg name="object_z" default="0.25"/>
</include>

<include file="$(find ar_tags_spawner)/launch/spawn_artag.launch">
      <arg name="tag_id" default="3"/>
      <arg name="object_x" default="-5.0"/>
      <arg name="object_y" default="3.0"/>
      <arg name="object_z" default="0.25"/>
</include>

<include file="$(find ar_tags_spawner)/launch/spawn_artag.launch">
      <arg name="tag_id" default="4"/>
      <arg name="object_x" default="-5.0"/>
      <arg name="object_y" default="-3.0"/>
      <arg name="object_z" default="0.3"/>
</include>

<include file="$(find ar_tags_spawner)/launch/spawn_artag.launch">
      <arg name="tag_id" default="5"/>
      <arg name="object_x" default="5.0"/>
      <arg name="object_y" default="-2.0"/>
      <arg name="object_z" default="0.25"/>
</include>


</launch>