<launch>
    <arg name="tag_id" default="1"/>
    <arg name="object_x" default="2.0"/>
    <arg name="object_y" default="0.0"/>
    <arg name="object_z" default="0.5"/>
    <arg name="object_roll" default="0.0"/>
    <arg name="object_pitch" default="0.0"/>
    <arg name="object_yaw" default="0.0"/>

    <!-- int_id is used in case of multiple tags with same id -->
    <arg name="int_id" default="00" />

    <param
        name="m$(arg tag_id)_description"
        command="$(find xacro)/xacro $(find ar_tags_spawner)/models/m$(arg tag_id)/m$(arg tag_id).xacro" />

    <node
        name="$(anon spawn_urdf)"
        pkg="gazebo_ros"
        type="spawn_model"
        required="false"
        args="-param m$(arg tag_id)_description -urdf -model m$(arg tag_id)_$(arg int_id) 
              -x $(arg object_x) -y $(arg object_y) -z $(arg object_z)
              -R $(arg object_roll) -P $(arg object_pitch) -Y $(arg object_yaw)" 
        
    />

</launch>
