<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m5">

  <link name="ar_base_link">
        <visual>
            <geometry>
                <mesh filename="package://ar_tags_spawner/models/m5/m5.dae" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>

        <inertial>
            <mass value=".01"/>
            <inertia ixx=".00003" ixy="0.000" ixz="0.000" iyy=".00003" iyz="0.000" izz=".00003"/>
        </inertial>
    </link>

    <gazebo reference="ar_base_link">
        <mu1> 1 </mu1>
        <mu2> 1 </mu2>
        <kp> 1160000 </kp>
        <kd> 1000 </kd>
        <selfCollide>False</selfCollide>
    </gazebo>
    
    <gazebo>
        <static> true </static>
    </gazebo>

</robot>
